<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Hello - Example django application with RPX login.</title>
    <link rel="stylesheet" href="/static/main.css" type="text/css">  
  </head>
  <body>
    <div id="login">
      <br />
      {% if user %}
      You are signed in with ID <strong>{{ user.user_id }}</strong>, email: <strong>{{ user.email }}</strong>. <a href="{{ sign_out }}">Sign out.</a>
      {% else %}
      You are not signed in. <a class="rpxnow" onclick="return false;"
href="https://pivotalexpert1.rpxnow.com/openid/v2/signin?token_url=http%3A%2F%2Fpivotalexpert1.appspot.com%2Frpx.php"> Sign In </a>
      <br>
     {% endif %}
         </div>

      
<table class="apps" cellspacing="0" width="900">
  <tr style="color:#00ce1d;font-weight:bold;text-align:center">
    <td>Tournament Heat</td><td>TBD</td><td>TBD</td><td>TBD</td><td>TBD</td><td></td>
  </tr>
{% for th in tournamentHeats %}

  <tr>
  	<td> {{th.name }} </td>
   
    <td align="center">
         {{th.finished}}
    </td>
	<td align="center">
	    <a href="/edit_tournament_heat/{{th.key.id}}/"> Edit </a>
    </td>
	<td align="center">
	    {{th.key.id}}
    </td>
    <td align="center">
        <a href="/run_tournament_heat/{{th.key.id}}/"> Run tournament heat </a>
    </td>
    <td align="center">
        <a href="/view_heat_result/{{th.key.id}}/"> View heat result </a>
    </td>
    <td align="center">
        {{th.jsonResult}}
    </td>

  </tr>
{% endfor %}
</table>
 
<br>
<a href="/add_tournament_heat"> Add a tournament heat </a> 
  
      
<table class="apps" cellspacing="0" width="900">
  <tr style="color:#00ce1d;font-weight:bold;text-align:center">
    <td>App</td><td>TBD</td><td>TBD</td><td>TBD</td><td>TBD</td><td></td>
  </tr>
{% for app in apps %}

  <tr>
  	<td> {{app.name }} </td>
   
    <td align="center">
         {{app.url}}
    </td>
	<td align="center">
	    <a href="/edit_app/{{app.key.id}}/"> Edit </a>
    </td>
	<td align="center">
	    {{app.key.id}}
    </td>
    <td align="center">
        <a href="/check_app/{{app.key.id}}/"> Check </a>
    </td>
    <td align="center">
    </td>

  </tr>
{% endfor %}

</table>
 
    
<br>
<a class="addApp" href="/add_app"> Add an app </a>
  
        
<table class="players" cellspacing="0" width="900">
  <tr style="color:#00ce1d;font-weight:bold;text-align:center">
    <td>Course</td><td>TBD</td><td>TBD</td><td>TBD</td><td>TBD</td><td></td>
  </tr>
{% for course in courses %}

  <tr>
  	<td> {{course.name }} </td>
   
    <td align="center">

    </td>
	<td align="center">
	    <a href="/edit_course/{{course.key.id}}/"> Edit </a>
    </td>
	<td align="center">
	    {{course.key.id}}
    </td>
    <td align="center">
    </td>
    <td align="center">
    </td>

  </tr>
{% endfor %}

</table>
<br>
<a class="addCourse" href="/add_course"> Add a course </a>
 



    <div id="footer" style="height:50px; text-align:center;">
      <em>(Powered by Python 2.5 and Google App Engine)</em>
    </div>
    <script type="text/javascript">
      var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
      document.write(unescape("%3Cscript src='" + rpxJsHost +
    "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      RPXNOW.overlay = true;
      RPXNOW.language_preference = 'en';
    </script>
  </body>
</html>
