<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Hello - Example django application with RPX login.</title>
    <link rel="stylesheet" href="/static/main.css" type="text/css">  
  </head>
  <body>
    <div id="login">
      <br />
      {% if user %}
      You are signed in with ID <strong>{{ user.user_id }}</strong>, email: <strong>{{ user.email }}</strong>. <a href="{{ sign_out }}">Sign out.</a>
      {% else %}
      You are not signed in. <a class="rpxnow" onclick="return false;"
href="https://pivotalexpert1.rpxnow.com/openid/v2/signin?token_url=http%3A%2F%2Fpivotalexpert1.appspot.com%2Frpx.php"> Sign In </a>
      <br>
     {% endif %}
         </div>
 
 <br>
 This tictactoe app support these urls <br>
 <a href="/get_supported_games"> Get Supported Games </a> <br>
 TicTacToe <a href="tictactoe/get_new_board"> Get New Board </a> <br>
 TicTacToe <a href="tictactoe/is_board_valid"> Is Board Valid </a> For testing ?jsonrequest={"board":"XO*\n***\n***"} <br>
 TicTacToe <a href="tictactoe/game_status"> Game Status </a> For testing ?jsonrequest={"board":"XO*\n***\n***"} <br>
 TicTacToe <a href="tictactoe/get_next_move"> Get Next Move </a> For testing ?jsonrequest={"board":"XO*\n***\n***"} <br>
 
 TicTacToe <a href="tictactoe/is_move_valid"> Is Move Valid </a> For testing ?jsonrequest={"board":"XO*\n***\n***","move":"XOX\n***\n***"}  <br>      
<br>

    <div id="footer" style="height:50px; text-align:center;">
      <em>(Powered by Python 2.5 and Google App Engine)</em>
    </div>
    <script type="text/javascript">
      var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
      document.write(unescape("%3Cscript src='" + rpxJsHost +
    "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      RPXNOW.overlay = true;
      RPXNOW.language_preference = 'en';
    </script>
  </body>
</html>
